# === Android Studio files ===
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# === Build output ===
/build
/captures
.externalNativeBuild
.cxx

google-services.json
firebase-debug.log

# === Kotlin ===
*.kotlin_module

# === OS generated ===
Thumbs.db
ehthumbs.db
Desktop.ini

# === Other ===
*.log
*.swp
.idea/misc.xml
